{% extends "base.html" %} {% load static %} {% block page_title %}Login{% endblock %} {% block css_files%}
<link rel="stylesheet" href="{% static '/css/index.css' %}">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> {% endblock %} {% block content%}
<section>
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3>Sign In</h3>
            </div>
            <div class="card-body">
                <form action="/login" method="POST">
                    {% csrf_token %}
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">


                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Login" class="btn justify-content-center login_btn">
                    </div>
                </form>
                <div class="mt-4">
                    <div class="d-flex justify-content-center links">
                        Register Now!
                        <a href="{% url 'RegisterPage' %}" class="ml-2">Register</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</section>
{% endblock %}